:root {
  --color-bg: #ffffff;
  --color-title: #4D5A68;
  --color-desc: #9DABBA;
  --color-nav: #C8D0D9;
  --color-link-hover: #4D5A68;
}

[data-theme="light"] {
  --color-bg: #ffffff;
  --color-title: #4D5A68;
  --color-desc: #9DABBA;
  --color-nav: #C8D0D9;
  --color-link-hover: #4D5A68;
}

[data-theme="dark"] {
  --color-bg: #181a1b;
  --color-title: #C5C1B8;
  --color-desc: #B6B1A6;
  --color-nav: #D5D2CC;
  --color-link-hover: #C5C1B8;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("br.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("bm.otf") format("opentype");
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

body {
  background-color: var(--color-bg);
  width: 100%;
  height: 100%;
  position: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
  text-align: center;
  font-family: "Brandon Grotesque";
}

.container nav {
  color: var(--color-nav);
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.container nav a+a {
  margin-left: 40px;
}

h1 {
  color: var(--color-title);
  font-size: 34px;
  font-weight: 500;
  margin-bottom: -5px;
}

h2 {
  color: var(--color-desc);
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: color .1s ease-in-out;
}

a:hover,
a.active {
  color: var(--color-link-hover);
}
